@keyframes Stroke {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes FillOpacity {
  to {
    fill-opacity: 1;
  }
}

/* *{
  will-change: all;
} */

.header {
  width: 100%;
  padding: 5% 0 60px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header .container #voltar {
  color: #808080;
  text-decoration: none;
  position: absolute;
  margin-left: -100px;
}

.header nav {
  text-align: right;
}

.header nav a {
  color: #808080;
  text-decoration: none;
  padding: 0 20px;
  text-align: right;
  display: inline-flex;
  flex-direction: column;
  font-size: 18px;
}

.header nav a.current{
  color: black;
}

.header nav a .selector {
  background-color: #808080;
  width: 30px;
  height: 3px;
  margin: auto;
  transform: scale(0,1);
  transition: all 0.2s ease;
}

.header nav a:hover .selector {
  background-color: #cccccc;
  width: 30px;
  height: 3px;
  margin: auto;
  transform: scale(1,1);
}

.header nav a.current .selector {
  background-color: black;
  width: 30px;
  height: 3px;
  margin: auto;
  transform: scale(1,1);
}

.header #logo {
  min-width: 80px;
  width: 100%;
  max-width: 220px;
}

.header #logo .cls-1{
  fill:#333;
    fill-opacity: 0;
    animation-name: Stroke, FillOpacity;
    animation-duration: 4s, 1s;
    animation-delay: 0s, 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke: #333;
    stroke-width: 1px;
}

header #logo .cls-2{
  fill:#b3b3b3;
  fill-opacity: 0;
  animation-name: Stroke, FillOpacity;
  animation-duration: 4s, 1s;
  animation-delay: 0s, 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke: #b3b3b3;
  stroke-width: 1px;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  overflow-x: visible;
}

.app {
  background-image: url("../images/bg.jpg");
  background-position: 0 center;
  height: 100vh;
  width: 100vw;
  transition: all 0.6s linear;
  overflow: hidden;
}

.slide {
  flex: 2;
  display: inline-flex;
  align-items: center;
  max-width: 380px;
  padding-left: 10px;
  width: 100%;
  flex-direction: column;
}
.slide div{
  width: 100%;
  display: flex;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.slide #action {
  font-size: 14px;
  width: 100%;
  text-align: left;
}

.slide .total {
  color: #cccccc;
 }

 .slide .bar {
   display: block;
   width: 100%;
   height: 3px;
   background-color: #ccc;
   margin: 0 15px;
   position: relative;
   overflow: hidden;
 }

 .slide .bar .time {
   width: 0%;
   height: 3px;
   position: absolute;
   left: 0;
   top: 0;
   display: block;
   background-color: #1a1a1a;
 }

.icon {
  max-width: 25px;
  height: 25px;
}

.icon img {
  width: 25px;
  height: 25px;
  max-width: 25px;
  max-height: 25px;
}

#cursor-area {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#cursor {
  position: absolute;
  width: 104px;
  height: 104px;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.1s linear;
}

#cursor .cls-1 {
  fill:none;
  stroke:#1a1a1a;
  stroke-miterlimit:10;
  stroke-width:2px;
  transform: scale(0.5, 0.5);
  transform-origin: center center;
  transition: all 0.6s ease;
}

#cursor.active .cls-1 {
  transform: scale(1,1);
}

.app#portfolio {
  overflow-y: auto;
}

.container#images {
  display: flex;
  flex-direction: column;
}

#portfolio img {
  width: 100%;
  margin: 0;
  padding: 0;
}

#portfolio #about{
  color: #808080;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-overlay {
  max-height: 30px;
  overflow: hidden;
}

#about h2 {
  color: #1a1a1a;
  font-weight: 600;
  font-size: 32px;
  padding: 0;
  margin: 0;
}

#about p{
  margin: 0;
  padding: 0;
}

#about #owners {
  display: inline-flex;
}

#about #owners img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid white;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1), -3px -3px 5px rgba(0,0,0,0.1);
}

#about #owners a + a {
  margin-left: -10px;
}

/* BLACK */

.app#black {
  background-image: url("../images/bg-black.jpg");
  overflow-y: auto;
}

#black .header #logo .cls-1{
  fill:#f2f2f2;
    fill-opacity: 0;
    animation-name: Stroke, FillOpacity;
    animation-duration: 4s, 1s;
    animation-delay: 0s, 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke: #f2f2f2;
    stroke-width: 1px;
}

#black header #logo .cls-2{
  fill:#b3b3b3;
  fill-opacity: 0;
  animation-name: Stroke, FillOpacity;
  animation-duration: 4s, 1s;
  animation-delay: 0s, 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke: #b3b3b3;
  stroke-width: 1px;
}

#black .header nav a.current{
  color: #f2f2f2;
}

#black .header nav a.current .selector {
  background-color: #f2f2f2;
}

#contact ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
  color: #f2f2f2;
  font-size: 24px;
}

#contact ul li {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

#contact ul span{
  padding: 2px 0;
  color: #b3b3b3;
  font-size: 16px;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .project .identity{
    position: absolute;
    top: 0vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }

  .project .identity h1 {
    font-size: 30vh;
    padding: 0;
    margin: 0;
    color: transparent;
    stroke: 2px #d4145a;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #d4145a;
    transform: translateX(-60px);
  }
  
  .project .identity h2 {
    padding: 0;
    margin: 0;
    color: black;
    font-size: 5vh;
    margin-left: -20%;
    transform: translateY(60px);
    font-weight: 700;
  }

  .hamburger {
    display: block;
    z-index: 1001;
  }

  .header nav {
    flex-direction: column;
    display: flex;
    justify-content: left;
    position: fixed;
    height: 100vh;
    width: 50%;
    background-color: #fbfbfb;
    z-index: 999;
    padding-top: 20%;
    box-shadow: -3px -3px 5px rgba(0,0,0,0.15);
    top: 0;
    right: -50%;
    transition: right 0.3s linear;
    will-change: right;
  }

  .header nav.active {
    right: 0;
  }

  .header nav a{
    text-align: left;
    padding-top: 20px;
  }

  .header nav a span.selector {
    margin: 0;
  }

  .header nav a.current span.selector {
    margin: 0;
  }

  .header nav a:hover .selector {
    margin: 0;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #000;
  }  
}

@media (max-width: 1180px) {
  .header .container a#voltar {
    display: none;
  }

}