#jobs #projects {
    flex-wrap: wrap;
}

#jobs #projects .project {
    max-width: 70%;
    min-width: unset;
    margin: unset;
    margin-left: unset;
    margin-bottom: 20px;
    max-height: 200px;
    transition: all 1s ease;
}

#jobs #projects .project.first {
    padding-right: 10px;
}

#jobs #projects .project.second {
    padding-left: 10px;
}

#jobs #projects .project.first.impar {
    max-width: unset;
    padding-right: 0;
}

#jobs #projects .project .thumb-mask {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 200px;
    height: 200px;
    margin: 10px 0;
    position: relative;
}

#jobs #projects .project .thumb-mask .bg {
    position: absolute;
    z-index: 9;
}

#jobs #projects .project .thumb-mask .logo {
    max-width: 180px;
    z-index: 10;
    display: block;
    align-self: center;
    max-height: 70%;
}

#jobs #projects .project:hover {
    cursor: pointer;
    width: 100%;
}

#jobs #projects .project .identity{
    top: 10px;
    left: 0px;
    display: block;
    opacity: 0;
    transition: all 1s ease;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


#jobs #projects .project h3 {
    color: #999;
    margin: 7px 0;
    font-weight: normal;
}

#jobs #projects .project:hover .identity{
    opacity: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

/* #jobs #projects .project .identity h1 {
    font-size: calc(14px + 3vw);
    transform: unset;
    left: 10px;
}

#jobs #projects .project .identity h2 {
    font-size: calc(14px + 2vw);
    transform: unset;
    padding: 0;
    color: white;
    left: 10px;
    margin-left: unset;
} */

#jobs #projects .project .identity h1 {
    font-size: calc(14px + 15vw);
    transform: unset;
    left: 0px;
    position: absolute;
    top: -8vh;
}

#jobs #projects .project .identity h2 {
    font-size: calc(10px + 2vw);
    transform: unset;
    padding: 0;
    color: white;
    left: 7%;
    margin-left: unset;
    position: relative;
    top: 40%;
}

#jobs #projects .project:hover .thumb-mask{
    filter: grayscale(1) brightness(1.5) opacity(0.3) saturate(0.6) blur(0.8px);
    transition: all 0.6s ease;
}

#jobs #projects .project .thumb{
    width: 202px;
    height: 158px;
}

@media (max-width: 768px) {

    #jobs #projects .project .thumb-mask .logo {
        max-height: 100%;
    }

    #jobs #projects .project:hover .identity {
        display: none;
    }

    #jobs #projects .project.first {
        padding-right: unset;
    }
 
    #jobs #projects .project.second {
        padding-left: unset;
    }

}